*.lbaction
*.pyc
.DS_Store
palette.png
README.html
*.zip
!README_img
!README.md
!open_in_specific_language.lbaction
!add_list_to_things.lbaction
!convert_video_to_gif.lbaction
!record_screen_with_quicktime_player.lbaction
!google_translate.lbaction
!Copy_IP_Adress.lbaction
!Add to Daily Note.lbaction
!Kindle Fonts Embedder.lbaction
!Add Images in Kindle Mockup.lbaction
!Add Images in iPhone Mockup.lbaction
!Add Images in iPad Pro Mockup.lbaction
!Add Videos in iPhone 8 Mockup.lbaction
!Add Videos in iPhone X Mockup.lbaction
!Add Images in Windows Mockup.lbaction
!Add Shadow to Screenshot.lbaction
!download_ieee_pdf_document.lbaction
!Save Image in Clipboard.lbaction
!Switch Dark Mode.lbaction
!langenscheidt_duden.lbaction
!Youtube.lbaction
!Convert Currency.lbaction
!Shorten URL with t.cn.lbaction
!Convert Number into Chinese Upper Case.lbaction
!Google Translate to *.lbaction
api
!search_files_by_name.lbaction
!search_files_by_contents.lbaction